<div class="agent-card">

	<div
		class="hero"
		style="background-image: url('{{ include.agent.avatar }}')"
	>
		<div class="hero__name">

			<strong>
				{{include.agent.first_name}}
			</strong>

			{{include.agent.last_name}}

		</div>

	</div>

	<div class="about">

		<div class="about__bio">
			<p>
				{{ include.agent.short_bio }}
			</p>
		</div>

		<div
			class="about__button agent-modal-link cursor-pointer"
			data-agent="{{ include.agent-index }}"
		>
			<div>
				VIEW FULL BIO
			</div>
		</div>

		<div
			class="about__contact"
		>

			{% if include.agent.email.size > 0 %}
				<div class="text-black">
					<a
						href="mailto:{{include.agent.email}}"
						class="text-decoration-none"
					>
						{{include.agent.email}}
					</a>
				</div>
			{% endif %}

			{% if include.agent.phone.size > 0 %}

				<a
					href="tel:{{include.agent.phone}}"
					class="text-decoration-none"
				>
					Land Line: {{include.agent.phone}}
				</a>

				<br />

			{% endif %}

			{% if include.agent.cell.size > 0 %}
				<a
					href="tel:{{include.agent.cell}}"
					class="text-decoration-none"
				>
					Cell: {{include.agent.cell}}
				</a>
			{% endif %}

		</div>

	</div>

</div>
