<div
	id="agent-{{ include.agent-index }}"
	class="agent-modal modal"
>
	<div class="modal__inner modal__inner--floating">

		<div class="modal__close"></div>

		<div class="hero">

			<div class="hero__avatar">
				<img src="{{ include.agent.avatar }}" />
			</div>

			<div class="hero__text">

				<div>

					<h4 class="agent-name">
						{{include.agent.first_name}} {{include.agent.last_name}}
					</h4>

					<h6 class="agent-position">
						{{include.agent.position}}
					</h6>

				</div>

				<div class="agent-contact">

					{% if include.agent.email.size > 0 %}
						<a href="mailto:{{include.agent.email}}">
							{{include.agent.email}}
						</a>
					{% endif %}

					{% if include.agent.phone.size > 0 %}
						<a
							href="tel:{{include.agent.phone}}"
							class="text-decoration-none"
						>
							Land Line: {{include.agent.phone}}
						</a>
					{% endif %}

					{% if include.agent.cell.size > 0 %}
						<a
							href="tel:{{include.agent.cell}}"
							class="text-decoration-none"
						>
							Cell: {{include.agent.cell}}
						</a>
					{% endif %}

					{% if include.agent.email.size > 0 %}
						<a
							href="mailto:{{include.agent.email}}"
							class="text-decoration-none"
						>
							<button class="rounded-red-button">
								work with {{include.agent.first_name}}
							</button>
						</a>
					{% endif %}

				</div>

			</div>

		</div>

		<div class="about">

			<h2>
				ABOUT {{agent.first_name}}
			</h2>

			<p>
				{{ agent.full_bio }}
			</p>

		</div>

	</div>

</div>
