<div class="modal contact-us-modal">
  <div class="modal__inner modal__inner--floating">

    <div class="modal__close"></div>

    <h1 class="text-centered font-weight-light header">
      CONTACT US
    </h1>

    {% include contact-info.html %}

    <form
      id="gform"
      class="form"
      method="POST"
    >

      <!-- this input is for spam prevention -->
      <input
        name="albuquerque"
        type="text"
        placeholder="Took a wrong turn"
        class="hidden"
      >

      <label
        for="name"
        class="hidden"
      >
        Name
      </label>

      <input
        name="name"
        type="text"
        placeholder="Name"
        class="input"
      >

      <label
        for="email"
        class="hidden"
      >
        Email
      </label>

      <input
        name="email"
        type="text"
        placeholder="Email"
        class="input"
      >

      <div
        id="email-invalid"
        class="validation"
      >
        Please use a valid email address
      </div>

      <label
        for="phone"
        class="hidden"
      >
        Phone
      </label>

      <input
        name="phone"
        type="text"
        placeholder="Phone Number"
        class="input"
      >

      <button
        id="submit-contact-form"
        class="submit"
      >
        SUBMIT
      </button>

    </form>

    <div id="form-submit-loader">
      <div class="loader">
        Loading...
      </div>
    </div>

    <div
      id="thankyou_message"
      class="contact-form-status"
    >

      <img src="/images/icons/okay.png" />

      <p>
        Thanks! We'll be in touch
      </p>

    </div>

    <div
      id="error_message"
      class="contact-form-status"
    >
      <p>
        Sorry, an error occurred.
      </p>
    </div>

  </div>
</div>
