<div class="contact-us-modal">
  <div class="contact-form">
    <div class="contact-close"></div>
    <form id="gform" class="form" method="POST" action="https://script.google.com/macros/s/AKfycbwjlQ6lCGpwQG3t_9qTlzNnkf2qzPB-q5ZHZzDGlXPv00HRcGao/exec">
      <p class="contact-us">CONTACT US</p>
      <input name="name" type="text" placeholder="Name">
      <input name="email" type="text" placeholder="Email">
      <input name="phone" type="text" placeholder="Phone Number">
      <button id="submit-contact-form">SUBMIT</button>
    </form>
    {% include contact-info.html %}
  </div>
</div>
