<div class="contact-info">

  <a
    href="tel:{{ site.data.contact.phone }}"
    class="contact__link"
  >
      <div>
        <img
          src="/images/phone-icon.png"
          class="icon"
        />
      </div>

      <div>
        {{ site.data.contact.phone }}
      </div>

  </a>

  <a
    href="mailto:{{ site.data.contact.email }}"
    class="contact__link"
  >

    <div>
      <img
        src="/images/email-icon.png"
        class="icon"
      />
    </div>

      <div>
        {{ site.data.contact.email }}
      </div>

  </a>

  <a
    href="https://maps.google.com/maps?daddr={{ site.data.contact.latitude }}, {{ site.data.contact.longitude }}&amp;ll="
    target="_blank"
    class="contact__link"
  >

    <div>
      <img
        src="/images/location-icon.png"
        class="icon"
      />
    </div>

    <div>
      {{site.data.contact.address}}
    </div>

  </a>

  <a
    href="https://www.instagram.com/{{site.data.contact.instagram}}"
    target="_blank"
    class="contact__link"
  >

    <div>
      <img
        src="/images/ig-icon.png"
        class="icon"
        />
    </div>

    <div>
      {{ site.data.contact.instagram }}
    </div>

  </a>

</div>

