<div class="contact-body">
  <!-- <table>
    <tr class="contact-table">
      <td><img src="images/phone-icon.png" class="icon-small"/>{{site.data.contact.phone}}</td>
      <td><img src="images/location-icon.png" class="icon-small"/><span class="underline">{{site.data.contact.address}}</span></td>
    </tr>
    <tr class="contact-table">
      <td><img src="images/email-icon.png" class="icon-small"/><a href="mailto:{{site.data.email}}">{{site.data.contact.email}}</a></td>
      <td><img src="images/ig-icon.png" class="icon-small"/><a href="https://www.instagram.com/{{site.data.instagram}}">@{{site.data.contact.instagram}}</a></td>
    </tr>
  </table> -->
   <div class="contact-row">
    <div><img src="images/phone-icon.png" class="icon-small"/>{{site.data.contact.phone}}</div>
    <div><img src="images/location-icon.png" class="icon-small"/><span class="underline">{{site.data.contact.address}}</span></div>
  </div>
  <div class="contact-row">
    <div><img src="images/email-icon.png" class="icon-small"/><a href="mailto:{{site.data.email}}">{{site.data.contact.email}}</a></div>
    <div><img src="images/ig-icon.png" class="icon-small"/><a href="https://www.instagram.com/{{site.data.instagram}}">@{{site.data.contact.instagram}}</a></div>
  </div>
  <!-- <ul>
    <li><img src="images/phone-icon.png" class="icon-small"/>{{site.data.contact.phone}}</li>
    <li><img src="images/email-icon.png" class="icon-small"/><a href="mailto:{{site.data.email}}">{{site.data.contact.email}}</a></li>
  </ul>
  <ul>
    <li><img src="images/location-icon.png" class="icon-small"/><span class="underline">{{site.data.contact.address}}</span></li>
    <li><img src="images/ig-icon.png" class="icon-small"/><a href="https://www.instagram.com/{{site.data.instagram}}">@{{site.data.contact.instagram}}</a></li>
  </ul> -->
</div>
