<div class="footer">

  <div class="main">

    <div class="links">

      <a
        href="/index.html#services"
        class="title link"
      >
        SERVICES
      </a>

      <a
        href="/listings.html"
        class="title link"
      >
        LISTINGS
      </a>

      <a
        href="/experience.html"
        class="title link"
      >
        EXPERIENCE
      </a>

      <a
        href="/about.html"
        class="title link"
      >
        ABOUT
      </a>

      <a class="title contact-us-link link">
        CONTACT
      </a>

      <a
        href="https://ws.onehub.com/" target="_blank"
        class="title link"
      >
        CLIENT ACCESS
      </a>

    </div>

    <div class="copyright copyright--desktop">
      Copyright &copy; Groundsource
    </div>

  </div>

  <div class="social">

    <a
      href="https://www.instagram.com/{{site.data.contact.instagram}}"
      target="_blank"
      class="social-icon"
    >
      <img src="/images/social/instagram.svg" />
    </a>

    <a
      href="https://www.twitter.com/{{site.data.contact.twitter}}"
      target="_blank"
      class="social-icon"
    >
      <img
        src="/images/social/twitter.svg" />
    </a>

    <a
      href="https://www.facebook.com/{{site.data.contact.facebook}}"
      target="_blank"
      class="social-icon"
    >
      <img
        src="/images/social/facebook.svg"
      />
    </a>

  </div>

  <div class="copyright copyright--mobile">
    Copyright &copy; Groundsource
  </div>

</div>
