<div class="footer">
  <div class="inner">
    <div class="column">
      <div class="title"><a href="/index.html">HOME</a></div>
      <a href="/index.html?section=services">Services</a>
    </div>
    <div class="column">
      <div class="title"><a href="/listings.html">LISTINGS</a></div>
      <a href="/listings.html?type=buy">Listings For Sale</a>
      <a href="/listings.html?type=lease">Listings For Lease</a>
    </div>
    <div class="column">
      <div class="title"><a href="/experience.html">EXPERIENCE</a></div>
      <a href="/experience.html?section=studies">Case Studies</a>
    </div>
    <div class="column">
      <div class="title"><a href="/about.html">ABOUT</a></div>
      <a href="/about.html?section=team">Meet the Team</a>
    </div>
    <div class="column">
      <div class="title contact-us-link">CONTACT</div>
    </div>
    <div class="column">
      <div class="title "><a href="https://ws.onehub.com/" target="_blank">CLIENT ACCESS</a></div>
    </div>

    <!-- <div class="column social">
      <a href="https://www.instagram.com/{{site.data.contact.instagram}}" target="_blank">
        <img src="/images/social/i.svg"/>
      </a>
      <a href="https://www.twitter.com/{{site.data.contact.twitter}}" target="_blank">
        <img src="/images/social/t.svg"/>
      </a>
      <a href="https://www.facebook.com/{{site.data.contact.facebook}}" target="_blank">
        <img src="/images/social/f.svg"/>
      </a>
    </div> -->
    <div class="column copyright">
      Copyright &copy; GroundSource
    </div>
  </div>
  <div class="column social">
      <a href="https://www.instagram.com/{{site.data.contact.instagram}}" target="_blank">
        <img src="/images/social/i.svg"/>
      </a>
      <a href="https://www.twitter.com/{{site.data.contact.twitter}}" target="_blank">
        <img src="/images/social/t.svg"/>
      </a>
      <a href="https://www.facebook.com/{{site.data.contact.facebook}}" target="_blank">
        <img src="/images/social/f.svg"/>
      </a>
    </div>
</div>
