<div class="footer">

  <div class="main">

    <div class="links">

      <a
        href="/index.html#services"
        class="title link"
      >
        SERVICES
      </a>

      <a
        href="/listings.html"
        class="title link"
      >
        LISTINGS
      </a>

      <a
        href="/experience.html"
        class="title link"
      >
        EXPERIENCE
      </a>

      <a
        href="/about.html"
        class="title link"
      >
        ABOUT
      </a>

      <a class="title cursor-pointer contact-us-link link">
        CONTACT
      </a>

      <a
        href="https://clientportal.groundsource.net/" target="_blank"
        class="title link"
      >
        CLIENT ACCESS
      </a>

    </div>

    <div class="copyright copyright--desktop">
      Copyright &copy; Groundsource
    </div>

  </div>

  <div class="social">

    <div>
      <a
        href="https://www.instagram.com/{{site.data.contact.instagram}}"
        target="_blank"
      >
        <img
          src="/images/social/instagram.svg"
          class="social-icon"
        />
      </a>
    </div>

    <div>
      <a
        href="https://www.twitter.com/{{site.data.contact.twitter}}"
        target="_blank"
      >
        <img
          src="/images/social/twitter.svg"
          class="social-icon"
        />
      </a>
    </div>

    <div>
      <a
        href="https://www.facebook.com/{{site.data.contact.facebook}}"
        target="_blank"
      >
        <img
          src="/images/social/facebook.svg"
          class="social-icon"
        />
      </a>
    </div>

  </div>

  <div class="copyright copyright--mobile">
    Copyright &copy; Groundsource
  </div>

</div>
