<div
	id="active-section-{{ include.active-section }}"
	class="modal nav-modal"
>
	<div class="modal__inner modal__inner--full">

		<img
			src="/images/logo.png"
			class="modal-logo"
		/>

		<div class="menu-close"></div>

		<div class="nav">

				<a
					href="/"
					class="link-home"
				>
					<span>
						HOME
					</span>
				</a>

				<a
					href="/#services"
					class="link-services services-home-button"
				>
					<span>
						SERVICES
					</span>
				</a>

				<a
					href="/listings.html"
					class="link-listings"
				>
					<span>
						LISTINGS
					</span>
				</a>

				<a
					href="/experience.html"
					class="link-experience"
				>
					<span>
						EXPERIENCE
					</span>
				</a>

				<a
					href="/about.html"
					class="link-about"
				>
					<span>
						ABOUT
					</span>
				</a>

				<a
					href="https://clientportal.groundsource.net/"
					target="_blank"
				>
					<span>
						CLIENT ACCESS
					</span>
				</a>

				<a class="cursor-pointer contact-us-link">
					<span>
						CONTACT
					</span>
				</a>

		</div>

	</div>
</div>
