<div class="nav-modal">
	<div class="active-section-{{ include.active-section }}">

		<img src="/images/logo.png" class="modal-logo" />

		<div class="menu-close"></div>

		<ul class="nav ham-nav">

			<li>
				<a
					href="/"
					class="link-home"
				>
					HOME
				</a>
			</li>

			<li>
				<a
					href="/#services"
					class="link-services services-home-button"
				>
					SERVICES
				</a>
			</li>

			<li>
				<a
					href="/listings.html"
					class="link-listings"
				>
					LISTINGS
				</a>
			</li>

			<li>
				<a
					href="/experience.html"
					class="link-experience"
				>
					EXPERIENCE
				</a>
			</li>

			<li>
				<a
					href="/about.html"
					class="link-about"
				>
					ABOUT
				</a>
			</li>

			<li>
				<a
					href="https://ws.onehub.com/"
					target="_blank"
				>
					CLIENT ACCESS
				</a>
			</li>

			<li>
				<a class="contact-us-link">
					CONTACT
				</a>
			</li>

		</ul>

	</div>
</div>
