<div
	id="{{ include.id }}"
	class="service-modal modal"
>
	<div class="modal__inner modal__inner--floating">

		<div class="service-detail-close modal__close"></div>

		<div class="header">
			<h1>
				{{ include.header-text }}
			</h1>
		</div>

		<div class="content">

			<div class="description">
				<p>
					{{ include.body-text }}
				<p>
			</div>

			<div class="learn-more">
				<a
					href="{{ include.link }}"
					class="btn-learn-more btn-learn-more--orange"
				>
					LEARN MORE
				</a>
			</div>

			{% include service-example.html
				examples=include.examples
			%}
		</div>

	</div>
</div>
