{% if include.examples.size > 0 %}
	<div class="services__examples">
		<div class="services-carousel">
			{% for example in include.examples %}
				<div>
					<div class="service-section--highlights">

						{% if include.multi-image %}
							<div
								class="service-highlight service-highlight--image"
								style="background-image: url('{{ example.image_1 }}')"
							></div>
						{% endif %}

						<div class="service-highlight service-highlight--text">

							<h5 class="highlight__header">{{ example.header }}</h5>

							<div class="inline-block">
								<ul class="highlight__list">
									{% for highlight in example.highlights %}
										<li>
											<div class="highlight__bullet"></div>
											{{ highlight }}
										</li>
									{% endfor %}
								</ul>
							</div>

						</div>

						<div
							class="service-highlight service-highlight--image"
							style="background-image: url('{{ example.image_2 }}')"
						></div>

					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
