<!-- TODO: use this partial *within* the service-modal partial -->
<div class="services-carousel">
	{% for example in include.examples %}
		<div>
			<div class="service-section--highlights">
				<div
					class="service-highlight service-highlight--image"
					style="background-image: url('{{ example.image_1 }}')"
				></div>
				<div class="service-highlight service-highlight--text">
					<h5>{{ example.header }}</h5>
					<ul>
						{% for highlight in example.highlights %}
							<li>{{ highlight }}</li>
						{% endfor %}
					</ul>
				</div>
				<div
					class="service-highlight service-highlight--image"
					style="background-image: url('{{ example.image_2 }}')"
				></div>
			</div>
		</div>
	{% endfor %}
	</div>
