<div class="inner">
	<div class="services-modal-content">
		<div class="service-detail-close"></div>
		<div class="header">
			<h1>{{ include.header-text }}</h1>
		</div>
		<div class="content">
			<div class="service-section">
				<p>{{ include.body-text }}<p>
			</div>
			<div class="service-section service-section--learn-more">
				<a
					href="{{ include.link }}"
					class="btn-learn-more btn-learn-more--orange"
				>
					LEARN MORE
				</a>
			</div>
			{% for example in include.examples %}
				<div class="service-section service-section--highlights">
					<div class="service-highlight service-highlight--text">
						<h5>{{ example.header }}</h5>
						<ul>
							{% for highlight in example.highlights %}
								<li>{{ highlight }}</li>
							{% endfor %}
						</ul>
					</div>
					<div
						class="service-highlight service-highlight--image"
						style="background-image: url('{{ example.image_1 }}')"
					></div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
