#about-container {
  .info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 78px 66px;
    background-image: url(../images/about/fs-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    > div {
      width: 50%;
    }
  }
  .info__image {
    padding-right: 40px;
    > img {
      width: 100%;
    }
  }
  .info__description {
    padding-left: 40px;
  }
  .agents {
    display: flex;
    justify-content: center;
    padding: 1em 60px;
  }
}
