.contact-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.9);
  list-style-type: none;
  .icon {
    width: 38px;
    margin-right: 8px;
  }
}
.contact__link {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    > * {
      text-decoration: underline;
    }
  }
  @include small-desktop {
    width: 100%;
  }
}
