.contact-us-modal {
  @include modal;
  .inner {
    padding: 2em 6em;
    @include mobile {
      margin: 0;
      > p {
        padding-top: 20px;
      }
    }
  }
  .form {
    margin: 20px 0 0.67em 0;
  }

  .validation {
    display: none;
    margin: 0 auto 18px auto;
    width: 100%;
    opacity: 0.8;
    text-align: left;
    color: $primary-color;
  }
  .input {
    margin: 0 auto 18px auto;
    width: 100%;
    height: 2.8em;
    opacity: 0.8;
    text-indent: 18px;
    border-style: solid;
    border-width: thin;
    border-color: #efefef;
    background-color: #fcfcfc;
  }
  .submit {
    width: 100%;
    margin-top: 20px;
    height: 2em;
    border-radius: 500px;
    font-weight: 800;
    color: $primary-color-darker-darker;
    border-color: $primary-color-darker-darker;
    border-style: solid;
  }
}
