#container-experience {
  .experience-section-header {
    @include header;
    color: white;
  }
  .contact-us-link-top {
    border-radius: 500px;
    border-style: solid;
    border-width: thin;
    margin-top: 5px;
    padding: 3px 12px;
    outline: none;
  }
  .top {
    background-image: url(../images/experience/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    height: 49vh;
  }
  .bottom {
    background-image: url(../images/experience/building.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    height: 33vh;
    position: relative;
  }
  .text {
    max-width: $page-max-width;
    position: relative;
    color: white;
    width: 43vw;
    text-align: center;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    padding-top: 1%;
    > h4 {
      font-size: 1.7em;
    }
  }

  .study-carousel {
    max-width: $page-max-width;
    width: 40vw;
    padding: 0 46px;
    text-align: center;
    height: 100%;
    background-color: white;
    opacity: .85;
    margin: 0 auto;
    .slick-track {
      height: 390px;
    }
    .study {
      vertical-align: middle;
      padding-top: 50px;
    }
    > p {
      opacity: .9;
    }
    .header {
      text-transform: uppercase;
      margin-bottom: 22px;
      > p {
        margin: 0 0 2px 0;
        opacity: .9
      }
    }
    .name {
      font-size: 1.75em;
      margin-bottom: 0;
    }
    .slick-dots {
      position: absolute;
      bottom: 16px;
      left: 42%;
    }
  }

  @media screen and (max-height: 900px) {
    .top {
      height: 100vh;
    }

    .bottom {
      height: 60vh;
    }
  }

  @media screen and (max-width: 1080px) {
    .top {
      height: 100vh;
    }

    .bottom {
      height: 60vh;
    }
  }

  @media screen and (max-width: 1000px) {
    .text {
      > p {
        font-size: 1.3em;
      }
    }
  }
  @media screen and (max-width: $breakpoint-small) {
    .top {
      height: 100%;
    }

    .bottom {
      height: 100%;
    }

    .footer {
      height: 100%;
    }
    .text {
      position: static;
      transform: translateY(0);
      top: 0%;
      width: 94vw;
      height: 100%;
      padding: 80px 20px 40px 20px;
    }
    .study-carousel {
      width: 100vw;
    }
  }
}
