#home-container {
  .contact-info {
    padding: 11px;
  }
  .contact__link {
    width: 100%;
  }
  .contact-us {
    position: relative;
    color: $grey;
    min-height: 349px;
    .contact-us-gmap-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .contact-content {
      width: 42%;
      padding: 44px 0;
      margin-left: -18px;
      .contact-header {
        font-size: 34px;
        background-color: white;
        padding: 0.5em 18px;
      }
    }
  }
}
