.subdued {
  opacity: .9;
}

.moreSubdued {
  opacity: .6;
}
// print only
.print {
  padding: 30px;
  .header {
    position: relative;
  }
  .logo {
    width: 9cm;
  }
  .contact {
    position: absolute;
    left: 10cm;
    bottom: 0;
    font-size: 5pt;
  }
  .content {
    margin-top: 60px;
    .listing-name {
      text-transform: uppercase;
      font-size: 24pt;
    }
  }
  .gallery {
    margin-top: 12px;
    width: 100%;
    >img {
      display: inline-block;
      width: 32.5%;
      height: 200px;
    }
  }
  .floorplan {
    clear: both;
  }
  .information {
    overflow: hidden;
  }
  .text {
    float: left;
    width: 10cm;
    > h4 {
      font-size: 15pt;
      font-weight: 100;
    }
    > p {
      line-height: 14px;
      font-size: 12px;
    }
  }
  .location {
    float: right;
    padding: 20px;
    width: 33%;
    margin-right: .25cm;
    border-style: solid;
    border-width: thin;
    margin-top: 17px;
    .location-header {
      font-weight: 800;
      font-size: 12pt;
    }
    > ul {
      padding-left: 0;
      margin-top: .5cm;
      > li {
        list-style-type: none;
        margin-bottom: 7px;
        font-size: 8pt;
      }
    }
  }
  .printout__floorplan {
    width: 400px;
  }

  .features {
    margin-top: 1cm;
  }
  .highlights {
    width: 8cm;
    float: left;
    > h2 {
      font-size: 12pt;
    }
  }
  .amenities {
    width: 8cm;
    float: right;
    > h2 {
      font-size: 12pt;
    }
  }

  .list {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    line-height: 23px;
    > hr {
      border-style: solid;
      border-width: thin;
      border-color: #ededed;
    }
  }
}

.print {
  display: none;
}

#container-listing {
  background-color: #eee;

  strong {
    font-weight: 700;
  }

  #listings-content {
    position: relative;
    margin: -25vh auto 0 auto;
    max-width: $page-max-width;
  }

  .container {
    display: flex;
    position: relative;
    z-index: 5;
    flex-direction: row;
    flex-flow: row wrap;
  }

  .listing-image {
    padding-top: 56.25%;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .listing-image-gallery {
    width: 50%;
    float: right;
    position: relative;
    .gallery-arrow-container {
      position: absolute;
      width: 19%;
      height: 17%;
      font-size: .5em;
      opacity: .88;
      bottom: 3px;
      right: 8px;
      margin: 12px;
      border: solid;
      border-width: .35em;
    }
    .gallery-navigation {
      position: absolute;
      cursor: pointer;
      bottom: 10px;
      border: solid;
      border-width: 0 .045em .045em 0;
      padding: 3px;
      font-size: 6em;
      width: .35em;
      max-width: 25px;
      height: .35em;
      max-height: 25px;
      top: 50%;
      vertical-align: middle;
      z-index: 200;
    }
    .gallery-arrow-right {
      right: 27%;
      transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
    }
    .gallery-arrow-left {
      left: 27%;
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
    }
  }

  .gallery-controls {
    width: 14%;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  #about-google-map {
    width: 100%;
    height: 647px;
  }

  .gallery-info {
    width: 270px;
  }

  #header-listings {
    height: 55vh;
    position: relative;
    background-image: url(../images/placeholder-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    text-align: center;

    &:after {
      display: block;
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100px;
      width: 100%;
      z-index: 5;
      background-image: linear-gradient(to bottom, rgba(#eee, 0), rgba(#eee, 1));
    }
  }

  #header-text-listings {
    font-family: $font-brand;
    color: $background-color;
    font-size: 4em;
    padding-bottom: 0.5em;
    text-shadow: 0px 3px 20px rgba(0,0,0,1);
    .location {
      position: relative;
      text-align: left;
      padding-left: 12px;
      z-index: 2;
    }
    &:after {
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 300px;
      width: 100%;
      z-index: -1;
      background-image: linear-gradient(to bottom, rgba(#eee, 0), #080808);
    }
  }

  #listings-sidebar {
    position: relative;
    display: inline-block;
    width: 33%;
    padding: 0 12px;
    margin-bottom: 22px;
  }

  .listings-sidebar__inner {
    position: sticky;
    top: 12px;
    @media screen and (max-width: $breakpoint-small) {
      position: static;
    }
  }

  #listings-info {
    display: inline-block;
    width: 66%;
    padding: 0 12px;
  }

  .sidebar-header {
    margin: 0;
    padding: 10px 0;
    font-weight: lighter;
  }

  .menu-top {
    background-image: url(../images/listings-cta-bg.jpg);
    padding: 30px;
  }

  .menu {
    background-color: $bg-color-listing;
    padding-bottom: 12px;
    font-weight: lighter;
  }

  .light-line {
    border-style: solid;
    opacity: .9;
  }

  .amenity-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    > hr {
      border-color: #c35440;
      opacity: .5;
      border-style: solid;
    }
  }

  .listing-info {
    padding: 14px;
    font-size: 1em;
    font-weight: lighter;
    opacity: 1;
  }

  .menu {
    color: $background-color;
    font-family: $font-brand;
    letter-spacing: $title-letter-spacing;
    padding: 30px;
  }

  .info-text {
    float: left;
    font-weight: lighter;
    width: 50%;
    padding-right: 15px;
  }

  .info-box {
    background-color: $bg-color-listing;
    display: block;
    padding: 30px;
    color: white;
    overflow: hidden;
    margin-bottom: 24px;
    h2:first-child {
      margin-top: 0;
    }
  }

  .cool-button {
    display: block;
    padding: 14px 8px;
    margin: 10px 0;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-size: 1em;
    &:hover {
      color: $primary-color;
      background-color: white;
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    #content {
      top: 1062px;
    }

    #listings-sidebar {
      width: 100%;
      margin: 10px 0 0 0;
      padding: 0;
    }

    #listings-info {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    #header-text-listings {
      font-size: 2.5em;
      z-index: 2;
      color: white;
      .location {
        position: relative;
        z-index: 2;
      }
      &:after {
        display: block;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 73px;
        width: 100%;
        z-index: 1;
        background-image: linear-gradient(to bottom, rgba(#eee, 0), #080808);
      }
    }

    #about-google-map {
      height: 378px;
    }

    .amenity-list {
      > li {
        padding: 7px;
      }
    }
    .listing-image-gallery {
      width: 100%;
    }
    .info-text {
      width: 100%;
      margin-bottom: 5px;
    }

    .info-box {
      margin-top: 24px;
      padding-top: 20px;
      .title {
        margin-bottom: 20px;
      }
    }
  }
}

@media print {
  @page {
    size: A4;
    // disables the nasty automatic header and footer (at least in Chrome)
    margin: 0;
    body {margin: 1.6cm;}
  }
  .print {
    display: block;
  }
  .web {
    display: none;
  }
}


