#container-listings {
  // need the actual asset
  background-image: url(../images/about/fs-bg.jpg);
  background-size: cover;
  .content {
    padding-top: 12vh;
  }
  .header {
    text-align: center;
    > h4 {
      font-size: 3em;
      margin-bottom: 20px;
      margin: 0 0 20px 0;
      color: #514d4c;
    }
    > p {
      font-size: 1.8em;
      margin: 0 15% 0 15%;
      opacity: .95;
      color: gray;
    }
    > input {
      margin-top: 40px;
      border-radius: 30px;
      width: 420px;
      height: 50px;
    }
  }

  .submenu {
    display: inline;
    color: grey;
    font-size: .8em;
    > span {
      vertical-align: middle;
    }
  }

  #features-toggle {
    border-color: lightgrey;
    color: $listings-text;
    border-style: solid;
    border-width: thin;
    height: 30px;
    width: 30px;
    font-size: 21px;
    margin-right: 2px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
  }

  #show-less-filters {
    display: none;
  }

  .plus-sign {
    &:after {
      content: "+"
    }
  }

  .minus-sign {
    &:after {
      content: "-"
    }
  }

  .listings {
    margin: 42px auto 0;
    width: 70vw;
    max-width: $page-max-width;
    > a {
      text-decoration: none;
    }
  }

  .filters {
    justify-content: center;
    background-color: white;
    display: none;
    box-shadow: 0px 0px 18px 6px #f2f2f2;
    padding: 15px 0;
    text-align: center;
    font-size: .7em;
    width: 70vw;
    > * {
      height: 23px;
      width: 22%;
      margin: 6px 7px;
      border-color: lightgrey;
      border-style: solid;
      border-width: thin;
    }
    > button {
      background-color: $primary-color-darker;
      color: white;
      border: none;
      cursor: pointer;
        &#listing-clear-filters {
          background-color: #514d4c;
        }
    }
  }

  .listing-preview {
    width: 31%;
    margin: 0 18px 18px 0;
    margin-bottom: 36px;
    color: gray;
    background-color: white;
    box-shadow: 0px 0px 18px 6px #f2f2f2;
    > a {
      text-decoration: none;
    }
    .header {
      background-image: url(../images/placeholder-thumbnail.jpg);
      background-size: cover;
      height: 190px;
      margin: 0;
      position: relative;
      .label {
        position: absolute;
        top: 8px;
        left: -6px;
        background-color: $primary-color;
        color: white;
        padding: 3px 5px;
        font-size: 1.1em;
      }
      .lease {
        background-color: $brand-blue;
      }
      .address {
        position: absolute;
        left: 14px;
        bottom: 14px;
        color: white;
        text-align: left;
        padding: 0 0 12px 12px;
        font-size: 1.2em;
      }
    }
    .listing-content {
      line-height: 135%;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 10px;
      opacity: .8;
      .amenities {
        font-size: .9em;
        > p {
          > img {
            padding-right: 3px;
          }
        }
      }
      > p {
        font-size: .8em;
      }
    }
    .listing-preview-footer {
      border-top: solid;
      border-width: 1.5px;
      border-color: #f3f3f3;
      opacity: .9;
      padding: 18px;
    }
  }

  .amenities {
    > p {
      display: inline-block;
      width: 49%;
      white-space: nowrap;
    }
  }

  .listings-search {
    border-style: solid;
    border-color: lightgray;
    text-indent: 18px;
    outline: none;
  }

  input.listings-search::-webkit-input-placeholder{
  color: $listings-text;
  font-size:1.1em;
  font-family: $font-brand;
  line-height: 110%;
  opacity: .7;
  }

  .paginator {
    text-align: center;
    position: relative;
    font-size: .9em;
    color: #959595;
    margin: 14px 0 35px 0;
    > div {
      display: inline-block;
      padding: 3px;
    }
    .pages {
      .selected {
        background-color: $primary-color;
        color: white;
        border-style: none;
        border-width: thin;
        opacity: 1;
      }
      .next {
        display: inline;
      }
      > a {
        margin: 0px;
        padding: 0px 11px 0px 11px;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        cursor: pointer;
        line-height: 28px;
        display: inline-block;
        width: 28px;
        height: 26px;
      }
    }
   .navigate-page {
     color: $primary-color;
     cursor: pointer;
   }
  }

  @media screen and (max-width: $breakpoint-small) {
    .submenu {
      display: block;
      margin-top: 14px;
    }

    .listings {
      width: 90%;
    }

    .listing-preview {
      margin-right: 0px !important;
    }

    .paginator {
      margin-top: 0;
      > div {
        padding: 3px;
      }
    }

    .listing-preview {
      width: 92%;
      margin-bottom: 34px;
    }
    .header {
      > p {
        margin: 1px;
      }
      > input {
        width: 94%;
      }
    }
    .filters {
      > * {
        width: 90%;
      }
    }
  }
}
/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
