@mixin hamburger-menu {
  background-color: white;
  background-image: url(../images/ham-menu.png);
  background-size: 2em;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 2em;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  right: 10px;
  top: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

@mixin hamburger-menu {
  background-color: white;
  background-image: url(../images/ham-menu.png);
  background-size: 2em;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 2em;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  right: 20px;
  top: 20px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
}

@mixin close-button {
  background-color: white;
  background-image: url(../images/menu-close.png);
  background-size: 22px 22px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 2em;
  position: absolute;
  top: 20px;
  right: 20px;
}

@mixin mobile-logo {
  width: 46%;
  top: 18px;
  left: 14px;
}
