.service-modal {
  @include modal;

  .slick-slide {
    paddng-left: 10px;
  }
  .modal__inner--floating {
    width: 80%;
    @include small-desktop {
      width: 100%;
    }
  }
  min-width: 420px;
  @include mobile {
    min-width: 0;
  }
  .service-detail-close {
    @include close-button-small;
    top: 28px;
    right: 35px;
    @include mobile {
      @include close-button;
      padding: 21px;
    }
  }
  .header {
    background-color: $primary-color;
    // extra right padding is to prevent header text from encroaching on the close button
    padding: 25px 76px 25px 35px;
    color: white;
    > h1 {
      margin: 0 24px 0 0;
    }
    @include mobile {
      font-size: 0.8em;
      > h1 {
        padding-right: 30px;
      }
    }
  }

  .content {
    padding: 35px;
    font-size: 0.8em;
    background-color: white;
    @include mobile {
      background-color: white;
    }
  }
  .description {
    margin: 1.5em 0;
  }
}
