.service-section {
  padding-bottom: 52px;
}

.service-slide {
  display: flex;
  @include mobile {
    flex-direction: column;
  }
}

.service-learn-more {
  text-align: center;
}

.service-slide__text {
  flex-basis: 40%;
  padding-left: 22px;
  text-align: left;
  @include mobile {
    order: 1;
    padding: 0;
  }
}

.service-slide__image {
  @include bg-cover-center;
  flex-basis: 60%;
  min-height: 300px;
  @include mobile {
    margin-bottom: 20px;
  }
}

.highlight-list {
  text-align: left;
  padding-left: 15px;
  font-size: 1.2em;
  > li {
    list-style-type: none;
  }
}

.service-header {
  color: $primary-color;
  font-size: 1.3em;
  color: $grey;
  margin: 10px 0;
}

.services-carousel {
  text-align: center;
  .slick-dots {
    margin-top: 24px;
  }
}
