.btn-services {
  cursor: pointer;
  position: absolute;
  bottom: 2em;
}

.btn-learn-more {
  padding: 8px 16px;
  border: medium solid white;
  font-weight: 600;
  border-radius: 500px;
  text-decoration: none;
}

.btn-learn-more--orange {
  color: $primary-color;
  border-color: $primary-color;
}

.services-info {
  position: relative;
  background-color: $primary-color;
  color: white;
  .services-content {
    max-width: 1800px;
    margin: 0 auto;
    height: 100%;
  }
}

.services-header {
  font-size: 3em;
  padding-left: 80px;
}

.services-row {
  display: flex;
  align-items: stretch;
}

.services-text {
  display: inline-block;
  padding: 3em 3em 6em 80px;
  opacity: .9 ;
  width: 33%;
}

.service-description {
  padding: 1.5em 0;
}

.service-section {
  padding-bottom: 40px;
}

.service-section--highlights {
  display: flex;
}

.service-section--learn-more {
  text-align: center;
}

.service-highlight--text {
  flex-basis: 40%;
  padding-right: 22px;
  text-align: left;
}

.service-highlight--image {
  flex-basis: 60%;
  min-height: 300px;
  max-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-highlight {
  li:nth-child(1):nth-last-child(3),
  li:nth-child(2):nth-last-child(2),
  li:nth-child(3):nth-last-child(1) {
    flex-basis: 33.3333%;
  }
}

.services-carousel {
  text-align: center;
}
