$dark-background-color: #4c4c4c;
$font-brand: Montserrat, Helvetica, Arial, sans-serif;
$logo-small: 22px;
$medium-image-height: 415px;
$col-width: 530px;
$background-color: white;
$dark-background-color: #4c4c4c;
$primary-color: #d46049;
$primary-color-lighter: #c8513d;
$primary-color-darker: #d35540;
$primary-color-darker-darker: #c04d3a;
$bg-color-listing: #d8614b;
$grey: #858585;
$title-letter-spacing: 1.3px;
$breakpoint-small: 768px;
$breakpoint-medium: 1600px;
$page-max-width: 1800px;
$listings-text: #de6c62;
$brand-blue: #387ac8;
$left-align-home: 80px;


$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@function px($ems, $context: $browser-context) {
  @return #{$ems * $context}px
}

@function contact-home-padding($em-padding) {
  @return (px($em-padding) - $left-align-home)
}

