/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "vendor/sanitize.scss";
@import "listings.scss";
@import "variables.scss";

html {
  font-family: $font-brand;
}

body {
  background-color: #fff;
  margin: 0;
  width: 100%;
  font-family: $font-brand;
}

strong, b {
  font-weight: 700
}

.left {
  float: left;
  width: 49%;
  padding-right: 15px;
}

.right {
  float: right;
  width: 49%;
  padding-left: 15px;
}

.property-slideshow {
  padding-top: 12px;
}

.preview-contents {
  padding: 8px;
}

#home-image {
  vertical-align: middle;
}

.header-overlap {
  margin-top: -35px;
  background-color: white;
}

.logo-upper-left {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 11px;
  width: 18%;
  height: auto;
  z-index: 2;
}

.ham-menu {
  background-color: white;
  background-image: url(../images/ham-menu.png);
  background-size: 40%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 5em;
  width: 5em;
  padding: 2em;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 10;
  text-align: center;
  .inner {
    padding: 15px;
    position: relative;
    .modal-logo {
      width: 18%;
      position: absolute;
      top: 15px; left: 15px;
    }
    .menu-close {
      background-color: white;
      background-image: url(../images/menu-close.png);
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      padding: 30px;
      position: absolute;
      top: 0; right: 0;
    }

    ul.nav {
      padding-top: 8%;
      list-style: none;
      font-size: 2em;
      text-align: center;
      margin: 0;
      li a {
	display: block;
	color: #888;
	line-height: 2;
	font-size: 0.8em;
	text-decoration: none;
	&.active {color: $primary-color;}
      }
    }

  }
}

.col-medium {
  width: 45%;
  font-family: $font-brand;
  color: #b4b3b3;
  letter-spacing: 0.5px;
  color: #858585;
  overflow: hidden;
}

.property-preview {
  background-image: url(../images/carousel/property-preview-background.jpg);
  width: 30%;
  height: 350px;
  margin: 22px;
  overflow: hidden;
  font-family: $font-brand;
  font-weight: lighter;
}

.preview-header {
  height: 50%;
  width: 100%;
}

.padding-80 {
  padding: 80px;
}

#header-home {
  background-image: url(../images/background.png);
  text-align: center;
  height: 760px;
}

#header-content {
  padding-top: 17%;
}

#header-logo {
  height: 30px;
}

.scroll-arrow {
  width: 34px;
  padding-top: 5%;
}

#header-text {
  font-family: $font-brand;
  color: #858585;
  padding-top: 8px;
}

#item-top {
  margin-top: -442px;
  background-color: $background-color;
}

.section-header {
  font-family: $font-brand;
  color: #b4b3b3;
  letter-spacing: 0.5px;
  color: #858585;
  font-size: 125%;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1800px;
}

.item {
  width: $col-width;
  margin: 16px;
}

.logo-small {
  height: $logo-small;
}

.image-medium {
  height: $medium-image-height;
}

.title {
  letter-spacing: $title-letter-spacing;
  font-weight: lighter;
}

.img-responsive {
	display: block;
	max-width: 100%;
}

.horizontal-break {
  background-color: $primary-color-darker;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 20px 12px;
}

#footer {
  position: relative;
  background: $primary-color;
  padding: 2%;
  padding-bottom: 10%;
  color: white;
  font-size: 0.8vw;
  & > * { line-height: 2.2; }
  .column {
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    .title {font-weight: bold}
    a {
      text-decoration: none;
      color: inherit;
      display: block;
      img {
	color: white;
	width: 1em;
      }
    }
    &.social {
      float: right;
      margin-right: 0;
      font-size: 1.5em;
      text-align: right;
      line-height: 1;
      a {padding: 0.5em;}
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  #header-home {
   background-color: white;
   background-image: none;
   height: 250px;
  }

  .col-medium {
    width: 80%;
  }

  .padding-80 {
    padding: 10px;
  }

  .header-overlap {
    margin-top: 0;
  }

  .small-hidden {
    display: none;
  }

  #content {
    top: 1062px;
  }

  #listings-content {
    margin-top: -1145px;
  }

  .nav {
    > li {
      display: block;
    }
  }

  #listings-sidebar {
    width: 90%;
  }

  #listings-info {
    width: 90%;
  }

  .ham-menu {
    height: 2em;
    width: 2em;
  }

  .property-preview {
    width: 90%;
  }
}
/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
