/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "vendor/sanitize.scss";
@import "listing.scss";
@import "listings.scss";
@import "variables.scss";

html {
  font-family: $font-brand;
}

body {
  background-color: #fff;
  margin: 0;
  width: 100%;
  font-family: $font-brand;
}

strong, b {
  font-weight: 700
}

a {
  color: inherit;
}

.content {
  position: relative;
}

#contact-us {
  background-image: url(../images/contact-map.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding: 20px;
  color: $grey;
  .contact-content {
    width: 50%;
    .contact-header {
      font-size: 3.45em;
      background-color: white;
      padding: 46px;
    }
    .contact-body {
      background: rgba(255, 255, 255, 0.8);
      padding: 23px 27px;
      > ul {
        list-style-type: none;
        margin: 0;
        > li {
          padding: 12px;
        }
      }
    }
  }
}

.left {
  float: left;
  width: 49%;
  padding-right: 15px;
}

.right {
  float: right;
  width: 49%;
  padding-left: 1px;
}

.contact-us-link {
  cursor: pointer;
}

.property-slideshow {
  padding-top: 12px;
}

.preview-contents {
  padding: 8px;
}

.underline {
  text-decoration: underline;
}

.preview-map {
  width: 230px;
  position: absolute;
  margin-top: -30px;

}

.preview-title {
  color: white;
  font-size: 1.5em;
  position: absolute;
  margin-top: -65px;
  margin-left: 31px;
}

.medium-white-text {
  color: white;
  font-size: 1.5em;
}

.medium-white-text {
  color: white;
  font-size: 1.2em;
  opacity: .95;
}

.preview-text {
  font-size: .75em;
  font-weight: lighter;
  color: #858585;
}

#home-image {
  vertical-align: middle;
}

.logo-upper-left {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 11px;
  width: 18%;
  height: auto;
  z-index: 2;
}

#top-nav {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  > ul {
    list-style-type: none;
    margin: 30px 30px 0 0;
    > li {
      display: inline;
      font-size: 1.2em;
      padding: 8px;
      > a {
        text-decoration: none;
      }
    }
  }
}
.ham-menu {
  display: none;
  background-color: white;
  background-image: url(../images/ham-menu.png);
  background-size: 40%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 5em;
  width: 5em;
  padding: 2em;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  right: 10px;
  top: 10px;
}

.contact-us-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  .contact-form {
    width: 443px;
    margin: 112px auto 0 auto;
    text-align: center;
    background-color: white;
    box-shadow: 5px 6px 14px #888888;
    position: relative;
    .contact-close {
      position: absolute;
      top: 5px;
      right: 5px;
      color: $primary-color;
      width: 13px;
      height: 21px;
      cursor: pointer;
    }
    .form {
      margin: 36px;
      > p {
        font-size: 2em;
        padding-top: 36px;
        font-weight: 100;
        color: #777777;
      }
      > input {
        display: block;
        margin: 0 auto 12px auto;
        width: 72%;
        height: 30px;
        opacity: .8;
        border-style: solid;
        border-width: thin;
        border-color: #efefef;
        background-color: #fcfcfc !important;
      }
      > button {
        width: 72%;
        border-radius: 12px;
        margin-top: 4px;
        font-weight: 500;
        font-size: .9em;
        color: $primary-color-darker-darker;
        border-color: $primary-color-darker-darker;
        border-style: solid;
        border-width: thin;
        margin-bottom: 50px;
      }
    }
  }
}

.nav-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 10;
  text-align: center;
  .inner {
    padding: 15px;
    position: relative;
    .modal-logo {
      width: 18%;
      position: absolute;
      top: 15px; left: 15px;
    }
    .menu-close {
      background-color: white;
      background-image: url(../images/menu-close.png);
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      padding: 30px;
      position: absolute;
      top: 0; right: 0;
    }

    ul.nav {
      padding-top: 8%;
      list-style: none;
      font-size: 2em;
      text-align: center;
      margin: 0;
      li a {
	display: block;
	color: #888;
	line-height: 2;
	font-size: 0.8em;
	text-decoration: none;
	&.active {color: $primary-color;}
      }
    }
  }
}

.home-intro-left {
  width: 50%;
  margin-top: -36px;
  min-height: 300px;
  background-color: white;
  font-family: $font-brand;
  color: #b4b3b3;
  letter-spacing: 0.5px;
  color: #858585;
  overflow: hidden;
  > div {
    margin-top: -35px;
    padding: 80px;
    > p {
      min-height: 300px;
      font-size: 1.05em;
      opacity: .95;
    }
  }
}

.home-intro-right {
  width: 50%;
  background-image: url("../images/about-us.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.preview-header {
  height: 50%;
  width: 100%;
}

#header-home {
  position: relative;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  text-align: center;
  height: 50vh;
}

#header-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#header-logo {
  height: 47px;
}

.scroll-arrow {
  position: absolute;
  width: 54px;
  bottom: 10%;
}

#header-text {
  font-family: $font-brand;
  color: #858585;
  font-size: 1.5em;
  padding-top: 25px;
}

#item-top {
  margin-top: -442px;
  background-color: $background-color;
}

.section-header {
  font-family: $font-brand;
  color: #b4b3b3;
  letter-spacing: 0.5px;
  color: #858585;
  font-size: 1.8em;
}

.flexbox {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1800px;
}

.flexbox-full {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.item {
  width: $col-width;
  margin: 16px;
}

.logo-small {
  height: $logo-small;
  margin-bottom: 4px;
}

.image-medium {
  height: $medium-image-height;
}

.title {
  letter-spacing: $title-letter-spacing;
  font-weight: lighter;
}

.img-responsive {
	display: block;
	max-width: 100%;
}

#review-navigator {
  width: 100%;
  div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    color: $primary-color-darker-darker;
    display: inline-block;
    &.selected {
      background-color: $primary-color-darker-darker;
      box-shadow: -2px 2px 1px #888888;
    }
  }
}

.navigation-arrows {
  position: absolute;
  top: 50%;
  border: solid $primary-color;
  border-width: 0 3px 3px 0;
  padding: 3px;
  font-size: 4em;
  width: 30px;
  height: 30px;
}

#navigator-arrow-left {
  transform: rotate(135deg);
  left: 0px;
}

#navigator-arrow-right {
  transform: rotate(-45deg);
  right: 0px;
}

.review-slideshow {
  background: linear-gradient(to bottom, #fbf9fa, #d4d2d3);
  color: gray;
  text-align: center;
  font-size: 1.5em;
  padding: 43px 12px;
  .review {
    display: none;
  }
  .selected {
    display: inline-block;
    width: 70%;
  }

  p {
    max-width: 800px;
    padding: 12px 0;
    text-align: left;
    display: inline-block;
    strong {
      text-transform: uppercase;
    }
  }
  img {
    display: inline-block;
    margin-right: 22px;
  }
}

.learn-more {
  max-width: 35%;
}

.services-info {
  position: relative;
  background-color: $primary-color;
  color: white;
  display: flex;
  .services-img {
    position: absolute;
    width: 33%;
    height: 100%;
    background-image: url(../images/services.jpg);
    background-size: cover;
    background-position: center center;
  }
  .services-content {
    margin-left: 33%;
    max-width: 1200px;
    height: 100%;
  }
}

.services-header {
  padding-left: 33px;
  font-size: 3em;
}

.services-row {
  display: flex;
  align-items: stretch;
}

.services-text {
  padding: 36px;
  opacity: .9;
  min-height: 360px;
  width: 50%;
}

.tennant-rep {
  background-color: $primary-color-darker-darker;
}

.landlord-rep {
  background-color: $primary-color-lighter;
}

#footer {
  position: relative;
  background: $primary-color;
  padding: 2%;
  padding-bottom: 10%;
  color: white;
  font-size: 0.8vw;
  & > * { line-height: 2.2; }
  .column {
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    .title {font-weight: bold}
    a {
      text-decoration: none;
      color: inherit;
      display: block;
      img {
	color: white;
	width: 1em;
      }
    }
    &.social {
      float: right;
      margin-right: 0;
      font-size: 1.5em;
      text-align: right;
      line-height: 1;
      a {padding: 0.5em;}
    }
  }
}

.icon-small {
  width: 38px;
  margin-right: 15px;
}

#listings-arrow-left {
  left: -158px;
  top: 66px;
}

#listings-arrow-right {
  left: 374px;
  top: 66px;
}

.listings-arrow {
  position: absolute;
  width: 300px;
}

@media screen and (max-width: $breakpoint-medium) {
  &.listings-arrow {
    display: none;
  }

  .property-preview {
    width: 69%;
    opacity: 1;
    position: relative;
    font-size: 1.3em;
    overflow: scroll;
    &.selected {
      transform: scale(1);
    }
  }

  #contact-us {
    padding: 0;
    .contact-content {
      font-size: 1.2em;
      width: 100%;
      .contact-header {
        padding: 25px 0 0 0;
        font-size: 2.3em;
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
      }
      .contact-body {
        padding: 12px 0 0 0;
        background: rgba(255, 255, 255, 0.8);
        > ul {
          padding: 0 0 17px 20px;
          font-size: .75em;
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-small) {
  // hidden elements
  .small-hidden {
    display: none;
  }

  .contact-us-modal {
    .contact-form {
      width: 100%;
      height: 100%;
      margin-top: -33px;
      .form {
        margin: 0;
        > p {
          padding-top: 20px;
        }
      }
    }
  }

  .home-intro-left {
    width: 100%;
  }

  .home-intro-right {
    width: 50%;
  }

  .services-info {
    width: 100%;
    .services-content {
      margin-left: 0;
    }
  }

  .services-row {
    display: block;
    .services-text {
      width: 100%;
    }
  }

  .services-img {
    display: none;
  }

  .property-preview {
    width: 90%;
    font-size: 1em;
  }

  #header-home {
   height: 80vh;
  }

  .home-intro {
    width: 80%;
    margin-top: 0;
    > div {
      padding: 10px;
    }
  }

  #listings-content {
    margin-top: -1145px;
  }

  .nav {
    > li {
      display: block;
    }
  }

  #listings-sidebar {
    width: 90%;
  }

  #listings-info {
    width: 90%;
  }

  .ham-menu {
    height: 2em;
    width: 2em;
  }
}
/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
