@import "variables.scss";

#container-listings {
  // background-image: url(../images/listings/background.png);
  // opacity: .1;
  // background-color: lightgray;
  .content {
    max-width: 1800px;
    margin: 0 auto;
  }
  .ham-menu {
    display: block;
  }
  .header {
    margin-top: 200px;
    text-align: center;
    > h4 {
      font-size: 2.5em;
    }
    > p {
      font-size: 1.2em;
      margin: 0 15% 0 15%;
      opacity: .9;
    }
    > input {
      margin-top: 40px;
      border-radius: 30px;
      width: 350px;
      height: 45px;
    }
  }

  .submenu {
    margin-top: 22px;
    color: grey;
    .plus-sign {
      margin-right: 15px;
    }
  }

  .plus-sign {
    border-color: lightgrey;
    color: lightgrey;
    border-style: solid;
    border-width: thin;
    height:20px;
    width: 20px;
    display: inline-block;
  }

  .listings {
    margin-top: 22px;
  }

  .listing-preview {
    width: 22%;
    margin: 18px;
    color: gray;
    border: solid;
    border-width: thin;
    border-color: lightgray;
    .header {
      background-image: url(../images/carousel/prop2-header.jpg);
      background-size: cover;
      height: 232px;
      margin: 0;
      position: relative;
      .label {
        position: absolute;
        top: 8px;
        left: -7px;
        background-color: $primary-color;
        color: white;
        padding: 3px;
      }
      .lease {
        background-color: $brand-blue;
      }
      .address {
        position: absolute;
        left: 5px;
        bottom: 5px;
        color: white;
        text-align: left;
        padding: 0 0 12px 12px;
        font-size: 1.4em;
      }
    }
    .content {
      padding: 18px;
    }
    .footer {
      border-top: solid;
      border-width: thin;
      border-color: lightgray;
      opacity: .9;
      padding: 18px;
    }
  }

  .amenities {
    > p {
      display: inline-block;
      width: 45%;
    }
  }

  ::-webkit-input-placeholder {
    color: $listings-text;
    font-size:1.1em;
    font-family: $font-brand;
    line-height: 110%;
  }

  .paginator {
    text-align: center;
    position: relative;
    font-size: 1.4em;
    color: lightgray;
    margin: 20px 0 25px 0;
    > div {
      display: inline-block;
      padding: 12px;
    }
    .pages {
      > a {
        padding: 12px;
        text-decoration: none;
      }
    }
   .navigate {
     color: $primary-color;
   }
  }
}

@media screen and (max-width: $breakpoint-small) {
  #container-listings {
    .listing-preview {
      width: 92%;
    }
  }
}
/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
