$dark-background-color: #4c4c4c;
$font-brand: Montserrat;
$logo-small: 22px;
$medium-image-height: 415px;
$col-width: 530px;
$font-brand: Montserrat;
$background-color: white;
$dark-background-color: #4c4c4c;
$primary-color: #d46049;
$primary-color-lighter: #c8513d;
$primary-color-darker: #d35540;
$primary-color-darker-darker: #c04d3a;
$grey: #858585;
$title-letter-spacing: 1.3px;
$breakpoint-small: 768px;
$breakpoint-medium: 1600px;
$listings-text: #de6c62;
