$dark-background-color: #4c4c4c;
$font-brand: Montserrat;
$logo-small: 16px;
$medium-image-height: 621px;
$col-width: 530px;
$font-brand: Montserrat;
$background-color: white;
$dark-background-color: #4c4c4c;
$primary-color: #d46049;
$title-letter-spacing: 1.3px;
$breakpoint-small: 768px;
