<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GROUNDSOURCE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    {% include header-links.html %}

  </head>
  <body>

    <div id="about-container">

      {% include site-header.html %}

      {% include contact-us-modal.html %}

      {% include nav-modal.html active-section="about" %}

      {% for agent in site.agents %}
        {% include agent-modal.html agent=agent agent-index=forloop.index %}
      {% endfor %}

      <div class="info">

        <div class="info__image">
          <img src="/images/about/hero.jpg" />
        </div>

        <div class="info__description">

          <div class="section-header">
            ABOUT <span>GROUND</span>SOURCE
          </div>

          <p>
            {{ page.main_text }}
          </p>

        </div>

      </div>

      <div class="agents">
        {% for agent in site.agents %}
          {% include agent-card.html agent=agent agent-index=forloop.index %}
        {% endfor %}
      </div>

      {% include footer.html %}

    </div>

    {% include include-scripts.html %}
  </body>
  <script type="text/javascript">
    $(document).ready(function() {
      var sectionQuery = (location.search.match(new RegExp('section' + "=(.*?)($|\&)", "i")) || [])[1]
      if (sectionQuery === "team") {
        window.setTimeout(function() {
          window.scrollTo(0, $('.agents').offset().top);
        }, 500)
      }

      window.sr = ScrollReveal();
      sr.reveal(".header-image");
      sr.reveal(".head-title");
      sr.reveal(".about-main-text");
      sr.reveal(".agents");

      $('.agent-modal-link').click(function () {
        var agent = $(this).data('agent');
        $("#agent-" + agent).fadeIn();
        $('body').addClass('overflow-hidden');
      });
    })
  </script>
</html>


