<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GROUNDSOURCE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    {% include header-links.html %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>

    {% include nav-modal.html active-section="experience" %}

    {% include site-header.html %}

    {% include contact-us-modal.html %}

    <div id="container-experience">

      <div class="info">
        <div class="info__content">

          <a
            href="/experience"
            id="experience-default-link"
            class="title state__link"
          >
            {{page.text_title}}
          </a>

          <div class="links">
            <a
              href="/experience?service=tenant"
              id="tenant-service-link"
              class="state__link state--tenant link"
            >
              TENANT<br /> REPRESENTATION
            </a>
            <a
              href="/experience?service=landlord"
              id="landlord-service-link"
              class="state__link state--landlord link"
            >
              LANDLORD<br /> REPRESENTATION
            </a>
            <a
              href="/experience?service=investment"
              id="investment-service-link"
              class="state__link state--investment link"
            >
              INVESTMENT<br /> REPRESENTATION
            </a>

          </div>

          <div class="description">

            <div class="state state--default services__description">
              {{ page.text_body }}
            </div>

            <div class="state state--tenant services__description">
                {{ page.tenant_services_text }}
            </div>

            <div class="state state--landlord services__description">
              {{ page.landlord_services_text }}
            </div>

            <div class="state state--investment services__description">
              {{ page.investment_services_text }}
            </div>

          </div>

          <div>
            <button class="cursor-pointer contact-us-button contact-us-link">
              CONTACT US
            </button>
          </div>

        </div>
      </div>

      <div class="slideshow">

        <div class="state state--tenant">
          {% include service-example.html
            examples=site.examples_tenant
            multi-image=true
          %}
        </div>

        <div class="state state--landlord">
          {% include service-example.html
            examples=site.examples_landlord
            multi-image=true
          %}
        </div>

        <div class="state state--investment">
          {% include service-example.html
            examples=site.examples_investment
            multi-image=true
          %}
        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include include-scripts.html %}
    <script type="text/javascript" src="/scripts/experience.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        var sectionQuery = (location.search.match(new RegExp('section' + "=(.*?)($|\&)", "i")) || [])[1]

        if (sectionQuery === "studies") {
          window.setTimeout(function() {
            window.scrollTo(0, $('.bottom').offset().top);
          }, 500)
        }

        window.sr = ScrollReveal();
        sr.reveal(".top");
      })
    </script>
  </body>
</html>


