<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GROUNDSOURCE</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    {% include header-links.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: [
            "Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic",
            "Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"
          ]
        }
      });
    </script>
  </head>
  <body>

    {% include contact-us-modal.html %}

    <div id="home-container">


      {% include services-modal.html
        id="tenant-service-modal"
        header-text="TENANT REPRESENTATION"
        body-text=page.tenant_services_text
        examples=site.examples_tenant
        link="/experience.html?service=tenant"
      %}

      {% include services-modal.html
        id="landlord-service-modal"
        header-text="LANDLORD REPRESENTATION"
        body-text=page.landlord_services_text
        examples=site.examples_landlord
        link="/experience.html?service=landlord"
      %}

      {% include services-modal.html
        id="investment-service-modal"
        header-text="INVESTMENT SALES"
        body-text=page.investment_services_text
        examples=site.examples_investment
        link="/experience.html?service=investment"
      %}

      <div id="top-nav">
        <ul>

          <li>
            <a class="services-home-button">
              SERVICES
            </a>
          </li>

          <li>
            <a href="listings.html">
              LISTINGS
            </a>
          </li>

          <li>
            <a href="experience.html">
              EXPERIENCE
            </a>
          </li>

          <li>
            <a href="about.html">
              ABOUT
            </a>
          </li>

          <li>
            <a href="https://ws.onehub.com/" target="_blank">
              CLIENT ACCESS
            </a>
          </li>

          <li>
            <a class="cursor-pointer contact-us-link">
              CONTACT
            </a>
          </li>

        </ul>
      </div>

      <div class="ham-menu ham-menu-home"></div>

      {% include nav-modal.html active-section="home" %}

      <div id="header-home">

        <div id="header-content">

          <img
            id="header-logo"
            src="/images/home-logo.png"
          />

          <div id="header-text">
            LOCAL BY CHOICE, NOT BY CHANCE
          </div>

        </div>

        <img
          src="/images/scroll-arrow.png"
          class="scroll-arrow"
        />

      </div>

      <div class="content">

        <div class="flexbox">

          <div class="home-intro-left">

            <div class="section-header">
              ABOUT <span>GROUND</span>SOURCE
            </div>

            <p>
              {{ page.intro_paragraph }}
            </p>

          </div>

          <div
            class="home-intro-right"
            style="background-image: url('{{ page.intro_image }}');"
          ></div>

        </div>

        <div class="review-slideshow">
          <div class="inner">

            <div class="navigation-arrow-left navigation-arrows"></div>

            <div class="carousel-container">
              <div class="review-carousel">
                {% for testimonial in site.testimonials %}
                  <div class="review">
                    <div class="inner-review">
                      {% if testimonial.userImg.size > 0 %}
                        <img src="{{ testimonial.userImg }}" />
                      {% endif %}

                      <p>
                        {{ testimonial.text }}

                        <br />

                        <br />

                        <strong>- {{ testimonial.name }}</strong>

                      </p>

                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="navigation-arrow-right navigation-arrows"></div>

          </div>
        </div>

        <a
          id="services-content"
          name="services"
        ></a>

        <div class="services-container">
          <div>

            <div class="services-row">
              <div class="services-header">
                <p>
                  <strong>OUR</strong> SERVICES
                </p>
              </div>
            </div>

            <div class="services-row">

              <div class="services-1 services-text">

                <div class="medium-white-text">
                  <strong>TENANT</strong> REPRESENTATION
                </div>

                <div class="service-description">
                  {{ page.tenant_services_blurb }}
                </div>

                <div
                  id="tenant-service-modal-button"
                  class="btn-learn-more btn-services"
                >
                  LEARN MORE
                </div>

              </div>

              <div class="services-2 services-text">

                <div class="medium-white-text">
                  <strong>LANDLORD</strong> REPRESENTATION
                </div>

                <div class="service-description">
                  {{ page.landlord_services_blurb }}
                </div>

                <div
                  id="landlord-service-modal-button"
                  class="btn-learn-more btn-services"
                >
                  LEARN MORE
                </div>

              </div>

              <div class="services-text">

                <div class="medium-white-text">
                  <strong>INVESTMENT</strong> SALES
                </div>

                <div class="service-description">
                  {{ page.investment_services_blurb }}
                </div>

                <div
                  id="investment-service-modal-button"
                  class="btn-learn-more btn-services"
                >
                  LEARN MORE
                </div>

              </div>

            </div>

          </div>
        </div>

        <div class="location">

          <div class="gmap-container">
            <div id="gmap-home-page"></div>
          </div>

          <div class="contact-container">
            <div class="contact-content contact-info-container">

              <div class="contact-header"><strong>CONTACT</strong> US</div>

              {% include contact-info.html%}

            </div>
          </div>

        </div>

        {% include footer.html %}
      </div>

    </div>

    {% include include-scripts.html %}
    <script type="text/javascript" src="/scripts/home.js"></script>
    <script>
      $(document).ready(function() {
        $(".services-home-button").click(function(event) {
          $('.body').removeClass('overflow-hidden');
          window.history.pushState(null, null, '#services')
          scrollToServices();
        })

        var logo = $("#header-logo");

        $(".testimonial-text").each(function() {
          var textLimit = 300
          var text = $(this).text();
          if (text.length > textLimit) {
            var shortenedText = $(this).text().slice(0,textLimit);
            shortenedText += " ..."
            $(this).text(shortenedText);
          }
        });

        switch(window.location.hash) {
          case '#contact':
            $('body').addClass('overflow-hidden');
            $('.contact-us-modal').fadeIn();
            $('.nav-modal').fadeOut();
            break;
          case '#services':
            navActivateSection("active-section-services")
            break
        }

        $(logo).addClass("prepareSlideUp");
        $("#header-text").css("opacity", 0);
        setTimeout(function () {
          $("#header-logo").addClass("slideUp");
        }, 50);
        setTimeout(function () {
          $("#header-text").css("opacity", 1);
        }, 700);

        window.sr = ScrollReveal();
        sr.reveal(".home-intro-left");
        sr.reveal(".home-intro-right");
        sr.reveal(".services-header");
        sr.reveal(".review-slideshow");
        sr.reveal(".services-text");
        sr.reveal("#contact-us-home-section");
      })
      function initHomeMap() {
        var uluru = {lat: 33.979449, lng: -118.413002};
        var map = new google.maps.Map(document.getElementById('gmap-home-page'), {
          zoom: 14,
          scrollwheel: false,
          disableDefaultUI: true,
          center: { lat: {{ site.data.contact.latitude }}, lng: {{ site.data.contact.longitude }} }
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
      function scrollToServices() {
        $('body').removeClass('overflow-hidden');
        $('.nav-modal').fadeOut();
        navActivateSection("active-section-services")
        window.scrollTo({
          top: $('#services-content').offset().top,
          left: 0,
          behavior: 'smooth'
        });
      }

      function navActivateSection(section) {
        $("[id^=active-section-]").attr('id', section)
      }
    </script>
    <!-- TODO replace API key -->
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhoAiw62lFQnHpIqeqYJVu1KfRkcitEN0&callback=initHomeMap"
    ></script>
  </body>
</html>
