<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GROUNDSOURCE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    {% include header-links.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript">WebFont.load({
    google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]
    }
    });</script>
  </head>
  <body>
    {% include login.html %}
    {% include contact-form.html %}
    <div class="main">
      <div id="tenant-service-modal" class="service-detail">
        <div class="inner">
          <div class="services-modal-content content-tenant">
            <div class="service-detail-close"></div>
            <div class="header">
              <h1>TENANT REPRESENTATION</h1>
            </div>
            <div class="content content-tenant">
              <p>{{page.tenant_services_text}}<p>
            </div>
          </div>
        </div>
      </div>
      <div id="landlord-service-modal" class="service-detail">
        <div class="inner">
          <div class="services-modal-content content-landlord">
            <div class="service-detail-close"></div>
            <div class="header">
              <h1>LANDLORD REPRESENTATION</h1>
            </div>
            <div class="content content-landlord">
              <p>{{page.landlord_services_text}}<p>
            </div>
          </div>
        </div>
      </div>
      <div id="investment-service-modal" class="service-detail">
        <div class="inner">
          <div class="services-modal-content content-investments">
            <div class="service-detail-close"></div>
            <div class="header">
              <h1>INVESTMENT SALES</h1>
            </div>
            <div class="content content-investment">
              <p>{{page.investment_services_text}}<p>
            </div>
          </div>
        </div>
      </div>
      <div id="top-nav">
        <ul>
          <li><a class="services-home-button">SERVICES</a></li>
          <li><a href="listings.html">LISTINGS</a></li>
          <li><a href="experience.html">EXPERIENCE</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="https://ws.onehub.com/" target="_blank">CLIENT ACCESS</a></li>
          <li><a class="contact-us-link">CONTACT</a></li>
        </ul>
      </div>
      <div class="ham-menu ham-menu-home"></div>
      <div class="nav-modal">
        <div class="inner">
          <img src="images/logo.png" class="modal-logo"/>
          <div class="menu-close"></div>
          <ul class="nav ham-nav">
            <li><a class="active" href="/">HOME</a></li>
            <li><a class="services-ham-home" href="index.html?section=services">SERVICES</a></li>
            <li><a href="listings.html">LISTINGS</a></li>
            <li><a href="experience.html">EXPERIENCE</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="https://ws.onehub.com/" target="_blank">CLIENT ACCESS</a</li>
            <li><a class="contact-us-link">CONTACT</a></li>
          </ul>
        </div>
      </div>
      <div id="header-home">
        <div id="header-content">
          <img id="header-logo" src="images/home-logo.png" alt=""/>
          <div id="header-text">LOCAL BY CHOICE, NOT BY CHANCE</div>
        </div>
        <img src="images/scroll-arrow.png" class="scroll-arrow"/>
      </div>
      <div class="content">
        <div class="flexbox">
          <div class="home-intro-left">
            <div>
              <div class="section-header">
                ABOUT <span><b>GROUND</b></span>SOURCE
              </div>
              <p>
                {{page.intro_paragraph}}
              </p>
            </div>
          </div>
          <div class="home-intro-right">
            <img src="{{page.intro_image}}" />
          </div>
        </div>
        <div class="review-slideshow">
          <div class="inner">
            <div class="navigation-arrow-left navigation-arrows"></div>
            <div class="carousel-container">
              <div class="review-carousel">
                {% for testimonial in site.testimonials %}
                  <div class="review">
                    <div class="inner-review">
                    {% if testimonial.userImg == "" or testimonial.userImg == nil or testimonial.userImg == blank %}
                    {% else %}
                      <img src="{{ testimonial.userImg }}" />
                    {% endif %}
                    <p>
                      <span class="testimonial-text">{{ testimonial.text }}</span>
                      <br />
                      <br />
                      <strong>- {{ testimonial.name }}</strong>
                    </p>
                  </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="navigation-arrow-right navigation-arrows"></div>
          </div>
        </div>
        <div class="services-info">
          <div class="services-content">
            <div class="services-row">
              <div class="services-header"><p><strong>OUR</strong> SERVICES</p></div>
            </div>
            <div class="services-row">
              <div class="services-1 services-text">
                  <div class="medium-white-text"><strong>TENANT</strong> REPRESENTATION</div>
                  <div class="service-description">
                    {{ page.tenant_services_blurb }}
                  </div>
                  <img src="images/learnmore_cta.png" id="tenant-service-modal-button"class="learn-more"/>
                </div>
              <div class="services-2 services-text">
                <div class="medium-white-text"><strong>LANDLORD</strong> REPRESENTATION</div>
                <div class="service-description">
                    {{ page.landlord_services_blurb }}
                </div>
                <img src="images/learnmore_cta.png" id="landlord-service-modal-button" class="learn-more"/>
              </div>
              <div class="services-text">
                <div class="medium-white-text"><strong>INVESTMENT</strong> SALES</div>
                <div class="service-description">
                  {{ page.investment_services_blurb }}
                </div>
                <img src="images/learnmore_cta.png" id="investment-service-modal-button" class="learn-more"/>
              </div>
            </div>
          </div>
        </div>
        <div id="contact-us-home-section">
          <div class="contact-container">
            <div class="contact-subcontainer">
              <div class="contact-content">
                <div class="contact-header">
                  <strong>CONTACT</strong> US
                </div>
                <div class="contact-body">
                  <ul>
                    <li><img src="images/phone-icon.png" class="icon-small"/><span>{{site.data.contact.phone}}</span></li>
                    <li><img src="images/email-icon.png" class="icon-small"/><a href="mailto:{{site.data.email}}">{{site.data.contact.email}}</a></li>
                    <li><img src="images/location-icon.png" class="icon-small"/><span class="underline">{{site.data.contact.address}}</span></li>
                    <li><img src="images/ig-icon.png" class="icon-small"/><a href="https://www.instagram.com/{{site.data.instagram}}">{{site.data.contact.instagram}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
           </div>
          <div class="contact-us-gmap-container">
            <div id="contact-us-gmap"></div>
          </div>
        </div>
        {% include footer.html %}
      </div>
   </div>
    {% include include-scripts.html %}
    <script>
      $(document).ready(function() {
        $(".services-home-button").click(function() {
          scrollToServices();
        })

        var logo = $("#header-logo");

        $(".testimonial-text").each(function() {
          var text = $(this).text();
          if (text.length > 150) {
            var shortenedText = $(this).text().slice(0,150);
            shortenedText += " ..."
            $(this).text(shortenedText);
          }
        });

        var sectionQuery = (location.search.match(new RegExp('section' + "=(.*?)($|\&)", "i")) || [])[1]

        if (sectionQuery === "testimonials") {
          window.setTimeout(function() {
            window.scrollTo(0, $('.review-slideshow').offset().top);
          }, 500)
        } else if (sectionQuery === "contact") {
          $('.main').addClass('modal-open');
          $('.contact-us-modal').fadeIn();
          $('.nav-modal').fadeOut();
        } else if (sectionQuery === "services") {
          window.setTimeout(function() {
            scrollToServices()
          }, 500)
        }

        $(logo).addClass("prepareSlideUp");
        $("#header-text").css("opacity", 0);
        setTimeout(function () {
          $("#header-logo").addClass("slideUp");
        }, 50);
        setTimeout(function () {
          $("#header-text").css("opacity", 1);
        }, 700);

        if (compatibleBrowser()) {
          window.sr = ScrollReveal();
          sr.reveal(".home-intro-left");
          sr.reveal(".home-intro-right");
          sr.reveal(".services-header");
          sr.reveal(".review-slideshow");
          sr.reveal(".services-text");
          sr.reveal("#contact-us-home-section");
        }
      })
      function initHomeMap() {
        var uluru = {lat: 33.979449, lng: -118.413002};
        var map = new google.maps.Map(document.getElementById('contact-us-gmap'), {
          zoom: 14,
          scrollwheel: false,
          disableDefaultUI: true,
          center: {lat: {{site.data.contact.latitude}}, lng: {{site.data.contact.longitude}}}
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
      function scrollToServices() {
        $(".active").removeClass("active");
        $('.services-ham-home').addClass('active')
        window.scrollTo(0, $('.services-content').offset().top);
      }
    </script>
    <!-- TODO replace API key -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhoAiw62lFQnHpIqeqYJVu1KfRkcitEN0&callback=initHomeMap">
    </script>
  </body>
