<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GROUNDSOURCE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    {% include header-links.html %}
  </head>
  <body>
    {% include login.html %}
    <div class="print">
      <div class="header">
        <img class="logo" src="/images/logo.png"/>
        <span class="contact moreSubdued"> {{page.address-line-1}} &nbsp; {{page.address-line-2}} | {{page.phone}} | {{page.hours}}
      </div>
      <div class="content">
        <div class="listing-name">{{page.name}}</div>
          <div class="gallery">
            {% if page.gallery-images[0] %}
              <img src="{{ page.gallery-images[0] }}" class="img-responsive listing-image"/>
            {% endif %}
            {% if page.gallery-images[1] %}
              <img src="{{ page.gallery-images[1] }}" class="img-responsive listing-image"/>
            {% endif %}
            {% if page.gallery-images[2] %}
              <img src="{{ page.gallery-images[2] }}" class="img-responsive listing-image"/>
            {% endif %}
          </div>
        </div>
        <div class="information">
          <div class="text">
            <h4>{{page.info-title}}</h4>
            <p>{{page.info-text}}</p>
          </div>
          <div class="location">
            <div class="location-header">Location</div>
            <ul>
              <li>{{page.address-line-1}}&nbsp; {{page.address-line-2}}</li>
              <li>{{page.phone}}</li>
              <li>{{page.hours}}</li>
            </ul>
          </div>
        </div>
        <div class="features">
          <div class="menu">
            <div class="highlights">
              <h2 class="sidebar-header"><strong>PROPERTY</strong><span class="subdued"> HIGHLIGHTS</span></h2>
              <ul class="list">
                {% for highlight in page.highlights %}
                  <li>{{ highlight }}</li>
                  <hr>
                {% endfor %}
              </ul>
            </div>
            <div class="amenities">
              <h2 class="sidebar-header"><strong>AMENITIES</strong></h2>
              <ul class="list">
                {% for amenity in page.amenities %}
                <li>{{ amenity }}</li>
                <hr>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="web">
      <div class="ham-menu"></div>
      {% include contact-form.html %}
      <div class="nav-modal">
        <div class="inner">
          <img src="/images/logo.png" class="modal-logo"/>
          <div class="menu-close"></div>
          <ul class="nav">
            <li><a href="/index.html">HOME</a></li>
            <li><a href="/listings.html" class="active">LISTINGS</a></li>
            <li><a href="/experience.html">EXPERIENCE</a></li>
            <li><a href="/about.html">ABOUT </a></li>
            <li><a href="https://ws.onehub.com/" target="_blank">DOCUMENTS</a</li>
            <li><a class="contact-us-link">CONTACT</a></li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div id="container-listing" class="container-fluid">
          <img src="/images/logo.png" class="logo-upper-left"/>
          {% if page.property-header %}
            <div id="header-listings" class="background-header" style="background-image:url({{page.property-header}})"></div>
          {% else %}
            <div id="header-listings" class="background-header"></div>
          {% endif %}
          <div id="listings-content">
            <div id="header-text-listings">
              <div class="location">{{ page.location }}</div>
            </div>
            <div class="container">
              <div id="listings-sidebar">
                <div class="menu-top">
                  <div class="buttons">
                    <a class="cool-button contact-us-link">CHECK AVAILABILITY</a>
                    <a id="print-brochure" href="#" class="cool-button">PRINT BROCHURE</a>
                  </div>
                </div>
                <div class="menu">
                  <h2 class="sidebar-header"><span class="subdued"><strong>PROPERTY</strong> HIGHLIGHTS</span></h2>
                  <hr class ="light-line">
                  <ul class="bond-list">
                    {% for highlight in page.highlights %}
                      <li>{{ highlight }}</li>
                      <hr>
                    {% endfor %}
                  </ul>
                  <h2 class="sidebar-header"><strong>AMENITIES</strong></h2>
                  <hr class="light-line">
                  <ul class="bond-list">
                    {% for amenity in page.amenities %}
                    <li>{{ amenity }}</li>
                    <hr>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div id="listings-info">
                <div class="info-box">
                  <div class="info-text">
                    <h2 class="title">
                      {{ page.info-title }}
                    </h2>
                    <p>
                      {{ page.info-text }}
                    </p>
                  </div>
                  <div class="listing-image-gallery">
                    <div class="listing-carousel">
                      {% for img-src in page.gallery-images %}
                        <div class="listing-image-slide">
                          <div class="listing-image" style="background-image: url({{ img-src }})"></div>
                        </div>
                      {% endfor %}
                    </div>
                    <!-- only display the navigation arrows if there are more than one image -->
                    {% if page.gallery-images[1] %}
                      <div class="gallery-arrow-container">
                        <div class="gallery-arrow-left gallery-navigation"></div>
                        <div class="gallery-arrow-right gallery-navigation"></div>
                      </div>
                    {% endif %}
                  </div>
                </div>
                {% if (page.latitude and page.longitude) or page.floorplan-image %}
                  <div class="info-box">
                    {% if page.latitude and page.longitude %}
                      <h2 class="title">LOCATION</h2>
                      <div id="about-google-map"></div>
                    {% endif %}

                    {% if page.floorplan-image %}
                      <h2 class="title">FLOORPLAN</h2>
                      <img src="{{ page.floorplan-image }}" class="img-responsive" />
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% include footer.html %}
    </div>
   </div>
    {% include include-scripts.html %}
    <script>
      $(document).ready(function() {
        $('.listing-carousel').slick({
          "prevArrow": $('.gallery-arrow-left'),
          "nextArrow": $('.gallery-arrow-right')
        })

        window.sr = ScrollReveal();
        sr.reveal(".info-box");
        sr.reveal(".img-responsive");
      })
      function initListingMap() {
        {% if page.latitude and page.longitude %}
          var uluru = {lat: {{page.latitude}}, lng: {{page.longitude}}};
          var map = new google.maps.Map(document.getElementById('about-google-map'), {
            zoom: 12,
            scrollwheel: false,
            disableDefaultUI: true,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        {% endif %}
      }
    </script>
    <!-- TODO replace API key -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhoAiw62lFQnHpIqeqYJVu1KfRkcitEN0&callback=initListingMap">
    </script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
