<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GROUNDSOURCE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    {% include header-links.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript">WebFont.load({
    google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]
    }
    });</script>
  </head>
  <body>
    {% include login.html %}
    {% include contact-form.html %}
    <div class="main">
      <div class="nav-modal">
        <div class="inner">
          <img src="images/logo.png" class="modal-logo"/>
          <div class="menu-close"></div>
          <ul class="nav">
            <li><a href="index.html">HOME</a></li>
            <li><a href="index.html?section=services">SERVICES</a></li>
            <li><a class="active" href="listings.html">LISTINGS</a></li>
            <li><a href="experience.html">EXPERIENCE</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="https://ws.onehub.com/" target="_blank">CLIENT ACCESS</a></li>
            <li><a class="contact-us-link">CONTACT</a></li>
          </ul>
        </div>
      </div>
      <div id="container-listings">
        <img src="images/logo.png" class="logo-upper-left"/>
        <div class="ham-menu"></div>
        <div class="content">
          <div class="header">
            <h4>{{page.header}}</h4>
            <p>
              {{page.subheader}}
            </p>

            <input type="text" placeholder="Search properties" class="listings-search" id="listings-text-search">
            <div class="submenu">
              <div id="features-toggle" class="plus-sign"></div>
              <span id="show-more-filters" class="subdued">OPTIONS</span>
              <span id="show-less-filters" class="subdued">LESS OPTIONS</span>
            </div>
            <div class="filter-container">
            <div class="flexbox listings filters">
              {% assign locations = site.listings |map: "address-line-2"| |uniq| %}
              {% assign statuses = site.listings |map: "status"| |uniq| %}
              {% assign type = site.listings |map: "type"| |uniq| %}
              <select class="listings__filter" name="location" id="location-filter">
                <option value="n/a">Any Location</option>
                {% for location in locations %}
                  <option value="{{location}}">{{location}}</option>
                {% endfor %}
              </select>
              <input class="listings__filter" id="min-size" type="text" placeholder=" Min. Size" class="subdued">
              <input class="listings__filter" id="max-price" type="text" placeholder=" Price" class="subdued">
              <!-- Disabled filters... to enable, uncomment and alter the JS filter -->
              <!-- <select name="status" id="status-filter">
                <option value="n/a">Any Status</option>
                <option value="true">Available Now</option>
                <option value="false">Not Available</option>
              </select> -->
              <!-- <select name="type" id="type-filter">
                <option value="n/a">Any Type</option>
                <option value="lease">Lease</option>
                <option value="buy">Buy</option>
              </select> -->
              <!-- <select name="min-rooms" id="min-rooms">
                <option value="1">Min. Rooms</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select> -->
              <div>
                <button class="listings__button listings__filter" type"submit" id="listing-clear-filters">CLEAR OPTIONS</button>
                <button class="listings__button listings__filter" type"submit" id="listing-search">SEARCH</button>
              </div>
            </div>
          </div>
          </div>
          <div id="properties" class="flexbox listings">
            {% assign listings = site.listings | where: "layout", "listing" %}
            {% for listing in listings %}
              <div class="listing-preview" data-location="{{listing.address-line-2}}" data-available="{{listing.available}}" data-lease="{{listing.lease}}" data-buy="{{listing.buy}}" data-rooms="{{listing.rooms}}" data-size="{{listing.sq-footage}}" data-price="{{listing.price}}">
                <a href={{listing.url}}>
                  {% if listing.property-preview-image %}
                    <div class="header" style="background-image:url({{listing.property-preview-image}})">
                  {% else %}
                    <div class="header">
                  {% endif %}
                  <div class="address">
                    <div>{{listing.address-line-1}}</div>
                    <div>{{listing.address-line-2}}</div>
                  </div>
                  </div>
                  <div class="listing-content">
                    <p class="short-caption">
                      {{listing.short-caption}}
                    </p>
                    <div class="amenities">
                      <table class="amenity-table">
                        <tr>
                          <td>
                            {% if listing.lease and listing.buy %}
                              <div class="listing-label rent-label">For Sale</div>
                              <div class="label lease-label" style="top: 40px">For Lease</div>
                            {% else %}
                              {% if listing.lease %}
                                <div class="listing-label lease-label">For Lease</div>
                              {% endif %}
                              {% if listing.sale %}
                                <div class="listing-label rent-label">For Sale</div>
                              {% endif %}
                            {% endif %}
                          </td>
                          <td>
                            {% if listing.rate == 0 or listing.rate == "0" or listing.rate == nil %}
                              <img src="images/icons/money.svg"/>
                              <span>Please Call</span>
                            {% else %}
                              <div class="wrapped-text">
                                <img src="images/icons/money.svg"/>
                                <span>{{listing.rate}}/month</span>
                              </div>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="wrapped-text">
                              <img src="images/icons/square.svg" />
                              <span>{{listing.sq-footage}} Sq. ft.</span>
                            </div>
                          </td>
                          <td>
                            <div class="wrapped-text">
                              <img src="images/icons/car.svg" />
                              <span>{{listing.parking}}</span>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="paginator">
            <div id="listings-prev" class="navigate-page scroll-listings-top">
              <div class="navigation-arrow-left navigation-arrows"></div>
            </div>
            <div class="pages">
              <a id="1" class="selected scroll-listings-top">1</a>
            </div>
            <div id="listings-next" class="navigate-page scroll-listings-top">
              <div class="navigation-arrow-right navigation-arrows"></div>
            </div>
          </div>
        </div>
        {% include footer.html %}
      </div>
    </div>
      {% include include-scripts.html %}
      <script type="text/javascript">
        $(document).ready(function() {
          var typeQuery = (location.search.match(new RegExp('type' + "=(.*?)($|\&)", "i")) || [])[1]

          if (typeQuery) {
            showFilters();
            $("#type-filter").val(typeQuery);
            listingsSearch();
          }

          if (compatibleBrowser()) {
            window.sr = ScrollReveal();
            sr.reveal(".listing-preview");
          }
        })
        function showFilters() {
          $('#show-more-filters').hide();
          $('#show-less-filters').show();
          $(".filters").show();
          var toggleBtn = $("#features-toggle")

          toggleBtn.removeClass("plus-sign")
          toggleBtn.addClass("minus-sign")
        }
      </script>
    </body>
