
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   {% include header-links.html %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Untitled Document</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <style type="text/css">
    a {
      text-decoration: none;
    }

    body {
      font-family:'Lato', sans-serif;
    }
  </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="color: black; font-size: 16px; background-color:white;">
    <table border="0" cellpadding="0" cellspacing="0" width="900px" height="100%" align="center" style="margin:0px auto; padding:0px; background-color: white;">
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="900px" align="center" id="templateHeader" bgcolor="#ffffff" style="background-color:#ffffff">
          <tr>
            <td width="50" height="54"></td>
            <td width="362" height="54"><img src="/images/newsletter/img/gs-newsletter-s1.jpg" width="362" height="54" alt="Groundsource Logo" /></td>
            <td width="438" class="bodyContent" style="text-align:right" valign="top" height="54">
              <img src="/images/newsletter/img/gs-newsletter-s2.jpg" class="phone-icon" width="31" height="31" alt="Phone Icon" />
              {{site.data.contact.phone}}
            </td>
            <td width="50px" height="54">&nbsp;</td>
          </tr>
          <tr>
            <td valign="top" class="headerContent" colspan="5">
              {% if page.lease %}
              <div class="listing-label-newsletter lease-label">For Lease</div>
              {% endif %}
              {% if page.sale %}
              <div class="listing-label-newsletter rent-label">For Sale</div>
              {% endif %}
              <img src="{{page.property-header}}" style="max-width:900px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext />
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top">
        <!-- BEGIN BODY // -->
        <table border="0" cellpadding="0" cellspacing="0" width="900px" class="table table__caption">
          <tr>
            <td width="50px"></td>
            <td width="800px" valign="top" class="bodyContent">
              <a href="{{site.data.contact.url}}/listings/{{page.title}}/listing.html">
                <div class="details-button">View Details</div>
              </a>
              <span class="address-newsletter newsletter-address"><a style="text-decoration: none; color: black;">{{page.address-line-1}}</a></span>
              <span class="address_city newsletter-address"><b><a style="text-decoration: none; color: black;">{{page.address-line-2}}</a></span>
                {{page.info-text}}
              </td>
              <td width="50px"></td>
            </tr>
            <tr>
              <td width="50px"></td>
              <td width="800px">
                {% if page.gallery-images[0] %}
                <span class="column_image2">
                  <img src="{{ page.gallery-images[0] }}" width="398" height="300" class="2column_image" />
                </span>
                {% endif %}
                {% if page.gallery-images[1] %}
                <img src="{{ page.gallery-images[1] }}" width="398" height="300" />
                {% endif %}
              </td>
              <td width="50px"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <table class="table amenities__table" border="0" cellpadding="0" cellspacing="0" width="900px">
            <!-- BEGIN BODY // -->
            <!-- <table border="0" cellpadding="0" cellspacing="0" width="900px" style="background-color:#dcdbdb;"> -->
              <tr>
                <td width="50px"></td>
                <td width="400px" valign="top" class="bodyContent border-right border-bottom padding-right">
                  <img src="/images/newsletter/img/gs-newsletter-icon-1.png" width="45" height="45" alt="Rate" />
                  <span class="newsletter-amenities"><span class="strong">{{page.rate}}</span></span>
                  <div class="newsletter-amenities2">(taxes are $0.07 PSF)</div>
                </td>
                <td width="400px" valign="top" class="bodyContent border-bottom padding-left">
                  <img src="/images/newsletter/img/gs-newsletter-icon-2.png" width="45" height="45" alt="Rate" />
                  <span class="newsletter-amenities"><span class="strong">{{page.sq-footage}}</span> Square Feet</span>
                </td>
                <td width="50px"></td>
              </tr>
              <tr>
                <td width="50px"></td>
                <td width="400px" valign="top" class="bodyContent border-right padding-right">
                  <img src="/images/newsletter/img/gs-newsletter-icon-3.png" width="45" height="45" alt="Rate" />
                  <span class="newsletter-amenities"><span class="strong">Available:</span> January 1, 2018</span>
                  <span class="newsletter-amenities2"></span>
                </td>
                <td width="400px" valign="top" class="bodyContent padding-left">
                  <img src="/images/newsletter/img/gs-newsletter-icon-4.png" width="45" height="45" alt="Rate" />
                  <span class="newsletter-amenities"><strong><span class="strong">{{page.parking}}</span> Spaces</span>
                  </td>
                  <td width="50px"></td>
                </tr>
              </table>
              <table border="0" cellpadding="0" cellspacing="0" width="900px" class="table highlights__table">
                <tr>
                  <td width="50px"></td>
                  <td width="800px">
                    <span class="list-header">BUILDING HIGHLIGHTS</span>
                    <ul>
                      {% for highlight in page.highlights %}
                      <li>{{ highlight }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td width="50px"></td>
                </tr>
                <tr>
                  <td width="50px"></td>
                  <td width="800px">
                    <span class="list-header">AMENITIES</span>
                    <ul class="list">
                      {% for amenity in page.amenities %}
                      <li>{{ amenity }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td width="50px"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="900px" class="table table__map">
                <tr>
                  <td width="50px"></td>
                  <td width="800px">
                    <img class="static-g-map" src="https://maps.googleapis.com/maps/api/staticmap?center={{page.latitude}}+{{page.longitude}}&zoom=13&scale=2&size=640x300&maptype=roadmap&format=png&visual_refresh=true&key={{site.data.contact.staticGMap}}" />
                  </td>
                  <td width="50px"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="8" cellspacing="0" width="900px" class="table table__footer">
                <tr>
                  <td width="50px"></td>
                  <td width="250px" class="footer-header"><a href="{{site.contact.url}}/listings.html">LISTINGS</a></td>
                  <td width="400px"></td>
                  <td class="footer-header" width="150px"><a href="{{site.contact.url}}/experience.html">EXPERIENCE</a></td>
                   <td width="50px"></td>
                </tr>
                <tr>
                  <td width="50px"></td>
                  <td width="250px"><a href="{{site.contact.url}}/listings.html?type=buy">Properties For Sale</a></td>
                  <td width="400px"></td>
                  <td width="150px"><a href="{{site.contact.url}}/experience.html?section=studies">Case Studies</a></td>
                  <td width="50px"></td>
                </tr>
                <tr>
                  <td width="50px"></td>
                  <td width="250px"><a href="{{site.contact.url}}/listings.html?type=lease">Properties For Lease</a></td>
                  <td width="400px"></td>
                  <td width="150px"><a href="{{site.contact.url}}/index.html?section=testimonials">Testimonials</a></td>
                  <td width="50px"></td>
                </tr>
                <tr>
                  <td width="50px"></td>
                  <td class="footer-header" width="250px"><a href="{{site.contact.url}}/about.html">ABOUT</a></td>
                  <td width="400px"></td>
                  <td class="footer-header" width="150px"><a href="{{site.contact.url}}/index.html?section=contact">CONTACT</a></td>
                  <td width="50px"></td>
                </tr>
                <tr>
                  <td width="50px"></td>
                  <td width="250px"><a href="{{site.contact.url}}/about.html?section=team">Meet the Team</a></td>
                  <td width="400px"></td>
                  <td width="150px"></td>
                  <td width="50px"></td>
                </tr>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </body>
      </html>
